@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

::-webkit-scrollbar {
    height: 6px; /* For horizontal scroll */
    width: 6px; /* For vertical scroll */
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7); /* Dark thumb color */
    border-radius: 10px; /* Rounded corners */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Invisible track */
  }

  ::-webkit-scrollbar-corner {
    background: transparent; /* Invisible corner */
  }
